

<div class="palm-scrim" id="my-scrim" style="display: none;">
		<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</div>

<div id="logger"></div>
<div class="palm-group">
	<div class="palm-group-title">Prayer Times for <span id="my_date"></span></div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="label" id="fajr">Fajr</div>
			<div class="title" id="times_0"></div>
		</div>
		<div class="palm-row">
			<div class="label" id="sunrise">Sunrise</div>
			<div class="title" id="times_1"></div>
		</div>
		<div class="palm-row">
			<div class="label" id="zuhr">Dhuhr</div>
			<div class="title" id="times_2"></div>
		</div>
		<div class="palm-row">
			<div class="label" id="aasr">Asr</div>
			<div class="title" id="times_3"></div>
		</div>
		<div class="palm-row" id="sunset_row">
			<div class="label" id="sunset">Sunset</div>
			<div class="title" id="times_4"></div>
		</div>
		<div class="palm-row">
			<div class="label" id="maghrib">Maghrib</div>
			<div class="title" id="times_5"></div>
		</div>
		<div class="palm-row last">
			<div class="label" id="iisha">Isha</div>
			<div class="title" id="times_6"></div>
		</div>
	</div>
</div>

