<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">My Location</div>
	</div>
</div>

<div class="palm-scrim" id="my-scrim" style="display: none;">
		<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</div>

<div class="palm-body-text">
	<p>
		Your location is used to calculate your prayer times as well as determine the direction of the Qibla.
	</p>
</div>
<div class="palm-group">
	<div class="palm-group-title">Location</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper text-row" id="location_name">
				New York			
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper text-row" id="latlong">
				40.344 , -73.433		
			</div>
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="locationUpdateButton" class="buttonClass" name="locationUpdateButton"></div>
