<div class="palm-header-spacer">
	<div class="palm-header">
		<div>Qibla from <span id="mylocation"></span></div>
	</div>
</div>

<div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; margin: auto; text-align: center;" class="center">
	<div style="position: absolute" id="directionBackground">

	</div>
	<img src="images/arrow.png" id="arrow" style="position: absolute; left: 149px;  width: 21px; height: 238px; display: none;">
</div>

<div id="logger"></div>
