
<div class="palm-scrim" id="my-scrim" style="display: none;">
		<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Qibla Direction</div>
	<div style="width: 280px; height:290px; position: relative; margin: auto;" class="center">
		<div style="width: 280px; height:290px; position: absolute; left: -5px;" id="directionBackground">

		</div>
		<img src="images/arrow.png" style="position: absolute; left: 128px; top:38px;" id="arrow">
	</div>
</div>

<div id="logger"></div>
