
<div class="palm-scrim" id="my-scrim" style="display: none;">
		<div x-mojo-element="Spinner" id="spinnerId" class="spinnerClass" name="spinnerName"></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Qibla Direction</div>
	<div style="background: url('images/compass.png'); width: 280px; height:290px; position: relative; margin: auto;" class="center">
		<img src="images/arrow.png" style="position: absolute; left: 130px; top:38px;" id="arrow">
	</div>
</div>

<div id="logger"></div>
