<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Preferences</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Convention</div>
	<div class="palm-list">
		<div class="palm-row-single" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="convention"></div>				
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Asr Calculation Method</div>
	<div class="palm-list">
		<div class="palm-row-single" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="asrmethod"></div>				
			</div>
		</div>
	</div>
</div>


<div class="palm-group">
	<div class="palm-group-title">High Latitude Adjustment</div>
	<div class="palm-list">
		<div class="palm-row-single" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="highlats"></div>				
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Time Format</div>
	<div class="palm-list">
		<div class="palm-row-single" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="timeformat"></div>				
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Qibla Direction</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="qiblamethod"></div>				
			</div>
		</div>
		<div class="palm-row last" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="directionBackground"></div>	
				<div style="margin-left: 15px; margin-right: 15px; margin-bottom: 5px; font-size: 14px;">
					Note: using a map for viewing the Qibla direction requires a data connection.			
				</div>			
			</div>
		</div>
	</div>
	
</div>

<div class="palm-group">
	<div class="palm-group-title">Prayer Notifications</div>
	<div class="palm-list">
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="azanType"></div>				
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="notifyFajr"></div>				
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="notifyDhuhr"></div>				
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="notifyAsr"></div>				
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="notifyMaghrib"></div>				
			</div>
		</div>
		<div class="palm-row" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="notifyIsha"></div>				
			</div>
		</div>
	</div>
</div>

<div id="logger"></div>
