/* Put Application specific CSS here. */



P {
	padding: 0px;
}

.highlighted {
		color: green;
		font-size: larger !important;
}

h2 {
	font-size: 18px;
}

.text-row {
	padding: 10px;
}
