<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left">Help</div>
	</div>
</div>


<div class="palm-body-text">
	
	<h2>Prayer Times</h2>
	<p>
		Prayer times are calculated using ISNA - Shafii method.  You may change this by using the preferences panel.  Note, your location
		is needed to determine the prayer times.  A data connection is also required to turn your current location (lat / long) into
		a city name.	
	</p>
	
	<h2>Prayer Notifications</h2>
	<p>
		Notifications can be setup for each prayer through the Preferences.  You can select to receive just a simple notification or 
		have the Azan played.
	</p>
	
	<h2>Qibla Direction</h2>
	<p>
		Qibla Direction is calculated by using the Great Circle method.  This can also be changed in the preferences panel.
		Great Circle Method refers to praying in the direction that provides the shortest distance to the Kabah.  For example,
		in New York, one would pray towards the Northeast; even through Mecca looks Southeast on a flat map.  Someone is Los
		Angeles would pray almost directly North.  This can be verified by looking at a Globe rather than a paper map.  However,
		this app does allow you to change to using the "Rhumb Lines" method.  This method would give the direction as shown on a 
		flat map.
	</p>
	<p>
		You must align the North position shown on the phone to the "Magnetic North" that would be shown by a compas.  Then, the arrow
		displayed by the app will point towards Qibla.  This does not point towards Qibla automatically because there is no built-in 
		compas in the Pre as there is with the iPhone.  In the future, if a WebOS device is released with a built in compas, this app
		will be updated to point towards the Qibla regardless of the orientation of the phone.
	</p>
	<p>
		By Default, the Qibla Direction is displayed on top of a compass.  You may change this via the preferences to see the direction
		overlayed on top of a map.  Please note, viewing the direction on top of a map will require a data connection.		
	</p>
	
	<h2>Credits</h2>
	<p>This App was developed by <B><a href="http://www.xivix.net">Xivix Software Solutions</a></B>.</p>
	<p>This App uses the <B><a href="http://tanzil.info/praytime">Prayer Times Calculator</a></B> class developed by Hamid Zarrabi-Zedeh and licensed under Creative Commons 3.0.</p>
	
</div>

